html{
    min-height: 100vh;
    width: 100vw;
}

body{
    padding: 0px;
    margin: 0px;
    
    position: relative;
}

.header-container{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 28px;
    font-weight: 800;
    height: 100%;
    width: 100%;
    
}


header{
    display: block;
}

header img {
    display: inline-block;
    position: relative;
    left: 10%;
}

header ul{
    width:400px;
    font-size: 16px;
    margin-top: 0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    float: right;
    margin-right: 10%;
}
header ul li {
    list-style: none;
    
}
ul li a {
    color: #f9faf8;
    text-decoration: none;
    font-weight: 300;
}

.heading-parent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heading-container{
    display: flex;
    flex-direction: column;
    
    align-content: center;
    justify-content:center;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    

}

.heading-container p {
    font-weight: 300;
    font-size: 18px;
}

.heading-container button{
    
width: 150px;
border-radius: 5px;
align-self: center;
background-color: #3882f6;
color: #f9faf8;
border: none;

}

.heading-container button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.image-container{
    display: inline-block;
    width: 500px;
    height: 300px;
    box-sizing: border-box;

}

/* Styling for the 3rd part. the 4 illustrations */


.illustration{
    width: 125px;
    height: 125px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}
#illustration1{
    background-image: url(images/dk.jpg);
    background-size: cover;

}
#illustration2{
    background-image: url(images/ki.jpg);
    background-size: cover;
}

#illustration3{
    background-image: url(images/bm.jpg);
    background-size: cover;

}
#illustration4{
    background-image: url(images/pw.png);
    background-size: cover;

}

.illustration-text{
    font-size: 10px;
    font-weight: 100;
    text-align: justify;
}
.illustration-card{
    width: 129px;
    height: auto;
}

.illustration-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
h2{
    text-align: center;
}

/* Quote block */
#quote-block{
    background-color: #e5e7eb;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;

}
#quote-block blockquote{
    font-style: italic;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    width: 500px;
    margin: 0 auto;
   
}
blockquote figcaption{
    font-weight: 700;
    font-size: 20px;
}

/* last part, call to action buy now button */


.button-container{
    width: 60vw;
    height: 150px;
    background-color: #3882f6;
    margin: auto;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#calltoaction{
    padding-top: 100px;
    padding-bottom: 100px;

}
.call-text {
    font-size: 18px;
    font-weight: 800;
}
.call-text p:nth-child(2){
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
}

.button-container button{
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    border-radius: 5px;
    
   
}

.button-container button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
footer{
    margin: 0;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 12px;
    font-weight: 800;
    height: 80px;
    width: 100%;
}
footer p{
    display: inline-block;
    position: relative;
    top:40%;
    left: 20%;
}
*{
    box-sizing: border-box;
}